<a href="https://colab.research.google.com/github/ayudia2119-ops/DDP-Ayu-dia-0110125107/blob/main/Tugas_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def celcius_ke_fahrenheit(celcius):
    """Mengkonversi suhu dari celcius ke fahrenheit"""
    # Rumus: F = (C * 9/5) + 32
    fahrenheit = (celcius * 9/5) + 32
    return fahrenheit

# contoh penggunaan:
print(celcius_ke_fahrenheit(0))   #output: 32.0
print(celcius_ke_fahrenheit(100)) #output: 212.0

32.0
212.0

In [ ]:
def is_genap(bilangan_bulat):
    """Mengembalikan true jika bilangan genap, false jika ganjil"""
    # bilangan genap sisa baginya 0 ketika dibagi 2
    if bilangan_bulat % 2 == 0:
        return True
    else:
        return False

# contoh penggunaan:
print(is_genap(4)) #outpout : True
print(is_genap(7)) #outpout : False

True
False

In [5]:
def nilai(skor):
    """Menampilkan keterangan 'LULUS' atau 'GAGAL' berdasarkan skor"""
    batas_lulus = 70
    if skor >= batas_lulus:
        print("LULUS")
    else:
        print("GAGAL")

# Contoh penggunaan:
nilai(80) # Output: LULUS
nilai(60) # Output: GAGAL

LULUS
GAGAL

In [8]:
def bilangan(batas_atas):
    """Menampilkan bilangan ganjil kurang dari batas_atas"""
    ganjil = []
    for i in range(1, batas_atas):
        # Cek apakah bilangan ganjil (sisa bagi tidak sama dengan 0)
        if i % 2 != 0:
            ganjil.append(i)

    # Tampilkan daftar bilangan ganjil dipisahkan koma
    print(ganjil, sep=",")

# Contoh penggunaan:
bilangan(20) # Output: 1,3,5,7,9,11,13,15,17,19

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]